<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark justify-content-between">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">NOMBRE</a>
    <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/inicio#inicio" fragmente="inicio">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/inicio#somos" fragmente="somos">¿Quiénes Somos?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/inicio#servicios" fragmente="servicios">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/inicio#obras" fragmente="obras">Obras</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/inicio#contacto" fragmente="contacto">Contacto</a>
      </li>
    </ul>
    <span>
        <a href="#" class="btn btn-primary">Iniciar Sesión</a>
        <a href="#" class="btn btn-primary">Registrarse</a>
    </span>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- Footer -->
<!-- Footer -->
<footer class="text-center text-white" style="background-color: #242424;">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: CTA -->
    <section class="">
      <p class="d-flex justify-content-center align-items-center">
        <span class="me-3">Regístrese gratis</span>
        <button mdbRipple type="button" class="btn btn-outline-light btn-rounded">
          Registrarse
        </button>
      </p>
    </section>
    <!-- Section: CTA -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
