<app-navbar></app-navbar>

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="text-center text-white" style="background-color: #242424;">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: CTA -->
    <section class="">
      <p class="d-flex justify-content-center align-items-center">
        <span class="me-3">Regístrese gratis</span>
        <button mdbRipple type="button" class="btn btn-outline-light btn-rounded">
          Crear Cuenta
        </button>
      </p>
    </section>
    <!-- Section: CTA -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
