<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark justify-content-between">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="inicio">Del Sur Contractors</a>
    <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/inicio#inicio" fragmente="inicio">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/inicio#somos" fragmente="somos">Nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/inicio#servicios" fragmente="servicios">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/inicio#obras" fragmente="obras">Obras</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/inicio#contacto" fragmente="contacto">Contacto</a>
      </li>
    </ul>
    <form class="btn-group">
      <button *ngIf="logueado" class="btn btn-outline-info">Editar Nav</button>
      <button *ngIf="!logueado" class="btn btn-outline-primary" type="submit" routerLink="login">Iniciar Sesión</button>
      <button *ngIf="logueado" class="btn btn-outline-danger" type="submit" (click)="cerrarSesion()">Cerrar Sesión</button>
      <!-- <button class="btn btn-outline-info">Registrarse</button> -->
    </form>
  </div>
</nav>
