#inicio .carousel-inner{
  height:700px;
}
#carouselTitle{
  top:40%;
  z-index:10;
  left:10em;
  word-spacing:2px;
  letter-spacing:1px;
  transform:translateY(-40%);
  bottom:initial;
}
#carouselTitle h1{
  text-shadow: 4px 3.3px #000;
  color:#fff;
  font-size:350%;
  font-weight:200;
  font-family: 'Bebas Neue', cursive;
}


#somos, #contacto{
  background: #000;
  color:rgb(221, 221, 221)
}


#servicios{
  background: #fff;
  color: rgb(0, 0, 0);
}
#servicios li{
  padding:5%;
}


#obras{
  background:rgb(10, 0, 46);
}
#obras .card{
  width:33.33%;
  border-radius: 0% 0% 1% 1%;
}
#obras h2{
  color:rgb(235, 235, 235);
}
