#inicio .carousel-inner{
  height:700px;
}
#inicio .carousel-caption{
  top:40%;
  transform:translateY(-100%);
  bottom:initial;
  position:absolute;
}
#inicio .carousel-caption h1{
  text-shadow: 3.3px 3.3px #000;
  font-size:350%;
  font-weight:100;
  font-family: 'Teko', sans-serif;
}


#somos, #contacto{
  background: #000;
  color:rgb(221, 221, 221)
}


#servicios{
  background: #fff;
  color: rgb(0, 0, 0);
}
#servicios li{
  padding:5%;
}


#obras{
  background:rgb(10, 0, 46);
}
#obras .card{
  width:33.33%;
  border-radius: 0% 0% 1% 1%;
}
#obras h2{
  color:rgb(235, 235, 235);
}
