<body class="position-relative" data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="0" tabindex="0">

  <header id="inicio">
    <div class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div id="carouselTitle" class="text-start position-absolute">
          <h1 class="text-uppercase">le damos la bienvenida</h1>
        </div>
        <div class="carousel-item active">
          <img src="\assets\ralph-ravi-kayden-VoI2jd75M6Q-unsplash.jpg" class="d-md-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="\assets\christopher-burns-8KfCR12oeUM-unsplash.jpg" class="d-md-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="\assets\ayoola-salako-69502tubKpA-unsplash.jpg" class="d-md-block w-100" alt="...">
        </div>
      </div>
    </div>
  </header>


  <div id="somos" class="p-3 d-flex">
    <div class="text-start">
      <h2>¿Quiénes Somos?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse scelerisque elit ut sapien laoreet
        vehicula. Duis id dui non orci convallis feugiat. Pellentesque habitant morbi tristique senectus et netus et
        malesuada fames ac turpis egestas. Morbi mattis elit risus, nec feugiat odio euismod eu. Duis tincidunt, lectus
        ac tempor porttitor, nunc mi sodales ligula, ut feugiat risus ligula accumsan risus. Nulla gravida faucibus
        tellus. Nullam pulvinar dignissim augue, vel tincidunt ipsum pellentesque nec. Ut euismod ultrices posuere.
        Phasellus posuere cursus nulla sed dictum. Nam rhoncus metus quis est convallis, ac pretium magna fringilla.
        Proin vitae accumsan felis, at vestibulum augue. Proin facilisis pretium tellus sit amet semper. Suspendisse
        commodo dui ut metus lobortis vulputate.</p>
      <p>Aliquam purus purus, blandit at neque ac, accumsan tincidunt nulla. Nullam auctor neque nec ex iaculis
        venenatis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam
        iaculis gravida ex, non lobortis magna commodo at. Sed pellentesque maximus ipsum, eget tempus purus consequat
        quis. Sed egestas quam id eleifend sagittis. Proin interdum tincidunt tempus. Suspendisse ac nibh pharetra,
        iaculis leo at, dignissim lorem. Vivamus imperdiet purus sit amet ante sagittis tristique. Vivamus iaculis lacus
        urna, non placerat dolor porta tristique.</p>
      <p>Nulla fermentum est metus. Pellentesque blandit dolor augue, id lobortis nisl feugiat luctus. Suspendisse at
        porttitor tellus, eu malesuada lorem. Integer id ex euismod, volutpat risus et, sagittis nisl. Sed dignissim
        elit tortor, nec egestas nisi volutpat at. Duis varius mauris magna, ac tempus odio molestie nec. Nulla viverra
        nunc nec magna egestas, sit amet pharetra dui aliquam.</p>
      <p>Vestibulum sollicitudin rhoncus bibendum. Sed eu odio enim. Proin sed dolor pulvinar, dignissim nisl eget,
        pulvinar tellus. Ut ultricies non nibh et maximus. Donec blandit leo neque, at rhoncus nibh pharetra a. Vivamus
        iaculis ante ligula, vitae semper ligula convallis tempus. Phasellus eget massa at lorem consectetur
        consectetur. Etiam lobortis ante auctor, tincidunt justo sit amet, interdum nisl. Phasellus et est sed tortor
        fermentum blandit. Maecenas et erat sem. Etiam vestibulum vel ante at lacinia. Vestibulum ante ipsum primis in
        faucibus orci luctus et ultrices posuere cubilia curae; Donec quis nunc pellentesque, facilisis enim eget,
        laoreet nunc.</p>
    </div>
    <div class="float-md-right">
      <img class="img-fluid" src="\assets\jeriden-villegas-niSnhfMjiMI-unsplash.jpg" alt="">
    </div>
  </div>


  <div id="servicios" class="d-flex p-3">
    <div class="float-md-left">
      <img class="img-fluid" src="\assets\christopher-burns-8KfCR12oeUM-unsplash.jpg" alt="">
    </div>
    <div class="w-100">
      <h2 class="text-center">¿Qué Ofrecemos?</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Vestibulum ut ex mattis, ultricies massa sit amet, faucibus sem.</li>
        <li class="list-group-item">Ut a sapien tempor, fermentum mi ac, cursus quam.</li>
        <li class="list-group-item">Sed ac elit nec sem gravida ornare.</li>
        <li class="list-group-item">Curabitur non quam fermentum lacus hendrerit consectetur.</li>
        <li class="list-group-item">Vestibulum ut ex mattis, ultricies massa sit amet, faucibus sem.</li>
        <li class="list-group-item">Ut a sapien tempor, fermentum mi ac, cursus quam.</li>
      </ul>
    </div>
  </div>


  <div id="obras" class="p-3">
    <button *ngIf="logueado" class="btn btn-primary float-end" data-bs-toggle="modal"
      data-bs-target="#obrasModal">Agregar Obra</button>
    <h2 class="text-center">Obras Destacadas</h2>
    <div class="row">
      <div class="col" *ngFor="let obra of obras">
        <div class="card">
          <img [src]="obra.imagen" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">{{obra.nombre}}</h4>
            <p class="card-text"><b>Descripción:</b> {{obra.descripcion}}</p>
            <p class="card-text"><b>Presupuesto (USD):</b> {{obra.presupuesto}}</p>
            <p class="card-text"><b>Ubicación:</b> {{obra.ubicacion}}</p>
            <div *ngIf="logueado" class="btn-group w-100">
              <button type="button" class="btn btn-danger w-50" (click)="eliminarObra(obra.id)">Eliminar</button>
              <button type="button" class="btn btn-primary w-50" data-bs-toggle="modal" data-bs-target="#obrasModal"
                (click)="selectObra(obra)">Editar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="contacto" class="d-flex w-100 p-3 mw-100">
    <div class="w-50">
      <h2>Contáctenos</h2>
      <ul class="list-group">
        <li style="color: #25D366;" class="list-group-item m-2 p-3 fs-5"><i class="fab fa-whatsapp fa-lg"
            aria-hidden="true"> +54 (299) 2190 6937</i></li>
        <li style="color: #4267B2;" class="list-group-item m-2 p-3 fs-5"><i class="fab fa-facebook fa-lg"
            aria-hidden="true"><a class="text-decoration-none" href="facebook.com/"> Constructora</a></i></li>
        <li style="color:	#1DA1F2;" class="list-group-item m-2 p-3 fs-5"><i class="fab fa-twitter fa-lg"
            aria-hidden="true"><a class="text-decoration-none" href="twitter.com/"> @ConstructoraOK</a></i></li>
        <li style="color: #5B51D8;" class="list-group-item m-2 p-3 fs-5"><i class="fab fa-instagram fa-lg"
            aria-hidden="true"><a class="text-decoration-none" href="instagram.com/"> constructora.ok</a></i></li>
        <li style="color: #000000;" class="list-group-item m-2 p-3 fs-5"><i class="fa fa-envelope fa-lg fw-light"
            aria-hidden="true"> <a class="text-decoration-none" href="mailto:placeholder@sample.com">
              const.contacto@correo.com</a></i></li>
      </ul>
    </div>
    <div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3103.7432699100236!2d-67.98784018502919!3d-38.92984507956561!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960a30ef2ee4b6b3%3A0xf60599626c221a60!2sCentro%20Educativo%20Tecnica%20N%C2%BA%2030!5e0!3m2!1ses-419!2sar!4v1639661164092!5m2!1ses-419!2sar"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>


  <div id="obrasModal" class="modal fade" tabindex="-1" aria-labelledby="obrasModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Editar o Agregar una Obra</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="vaciarFormulario()"
            aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="obrasForm">
            <div class="mb-3">
              <label for="obraNombre" class="col-form-label">Nombre:</label>
              <input type="text" class="form-control" formControlName='nombre' id="obraNombre">
            </div>
            <div class="mb-3">
              <label for="descObra" class="col-form-label">Descripción:</label>
              <textarea class="form-control" formControlName='descripcion' id="descObra"></textarea>
            </div>
            <div class="mb-2">
              <label for="presObra" class="col-form-label">Presupuesto (USD):</label>
              <input type="text" class="form-control" formControlName='presupuesto' id="presObra">
            </div>
            <div class="mb-3">
              <label for="ubiObra" class="col-form-label">Ubicación:</label>
              <input type="text" class="form-control" formControlName='ubicacion' id="ubiObra">
            </div>
            <div class="mb-3">
              <label for="formFile" class="form-label">Imagen Representativa:</label>
              <input class="form-control" type="text" id="formFile" formControlName='imagen'
                (change)="obtenerFile($event)">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="vaciarFormulario()"
            data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" (click)="guardarObra()" data-bs-dismiss="modal">Guardar</button>
        </div>
      </div>
    </div>
  </div>

</body>
